.weather-container{
    background: rgb(223, 200, 167);
    text-align: center;
}

.weather{
    font-size: 22px;
    margin: 0;

}
.temp{
    font-size: 38px;
    margin: 0;
    font-weight: bold;
}
.clothes{
    font-size: 15px;
    margin: 0;
    font-weight: lighter;
}
.city{
    font-size: 17px;
    margin: 0;
    font-style: italic;
}